api_key: [put your apikey here]
send_smtp: [true to send smtp ,otherwise false]
smtp_server: [your smtp server fqdn]
smtp_port: [your smtp server port]
smtp_username: [your smtp username]
smtp_password: [your smtp password]
smtp_from_email: [your email]
smtp_to_email: [your email]
smtp_subject: youtube-likes
channel_ids:
- {'name': 'channel 1 name', 'id': 'channel 1 id'}
cache_file: .cache.txt
